<li class="nav-item ms-auto">
  <div class="dropdown">
    <button class="btn btn-light dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
      Sort
    </button>
    <ul class="dropdown-menu">
      <% [['last_synced_at', 'desc', 'Recently Synced'],['issues_count', 'desc', 'Total issues'],['pull_requests_count','desc','Total pull requests'],['avg_comments_per_issue','desc','Average comments per issue'],['avg_time_to_close_issue','desc','Average time to close issue']].each do |sort, order, name| %>
        <li><a class="dropdown-item <%= 'active' if params[:sort] == sort %>" href="<%= url_for(sort: sort, order: order) %>"><%= name %></a></li>
      <% end %>
    </ul>
  </div>
</li>