<nav class="header__local__navigation">
  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link" href="https://opencollective.com/ecosystems" target="_blank">Support</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="https://github.com/ecosyste-ms/<%= github_repo_name %>" target="_blank">GitHub</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/docs">API</a>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        More
      </a>
      <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
        <li><%= link_to 'Imports', imports_path, class: 'dropdown-item' %></li>
      </ul>
    </li>
  </ul>
</nav>